@import 'bootstrap';

header {
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  display: flex;
  align-items: flex-end;
}
.nav-bar ul {
  padding-left: 0;
}
.nav-link {
  margin: 10px;
}

footer {
  font-size: 20px;
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: #738a99;
  margin-top: auto;

}